<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>VerifyOTPSignUp</servlet-name>
        <servlet-class>controller.guest.VerifyOTPSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNews</servlet-name>
        <servlet-class>controller.admin.ManageNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsListServlet</servlet-name>
        <servlet-class>controller.guest.NewsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailServlet</servlet-name>
        <servlet-class>controller.guest.NewsDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>controller.admin.DeleteNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyOTPSignUp</servlet-name>
        <url-pattern>/verify_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNews</servlet-name>
        <url-pattern>/ManageNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsListServlet</servlet-name>
        <url-pattern>/NewsListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailServlet</servlet-name>
        <url-pattern>/NewsDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/delete-news</url-pattern>
    </servlet-mapping>
</web-app>
